@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/chow-fun');
                

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-base: 'Cormorant Upright', serif;
  /* --font-base: "Chow Fun", sans-serif; */
  --font-alt: 'Open Sans', sans-serif;
}

html {
    background: url(../src/assets/bg.webp);
    background-attachment: fixed;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}